 @media screen and (max-width : 576px){

    .nav-main{

        flex-direction: column;
    }
    .nav-right{

        flex-direction: column;
    }
    .nav-right button {

        margin-top: 10px;
    }
    .header-main{

        flex-direction: column;
    }
    .header-main img{

        margin-left: 28px;
        margin-top: 19px;
    }

    .habit-main {


        grid-template-areas: 
        
        "a"
        
        "b"
        
        "c"
        
        "d"
        
        ;

        width: 50%;
        margin: 0 auto;
    }
 

    .run-section-main{

        flex-direction: column;
        width: 50%;
    }

    .run-section-lef{

        width: 50%;
    }

    .run-section-right {

        width: 100%;
    }

    .meet-main-section{

        grid-template-columns: 1fr;
    }

    .fitness-content{

        width: 95%;
        flex-direction: column;
        margin-top: 10px;

    }
    
    .fitness-first-section,
   .fitness-second-section {

    width: 100%;
   }


    .fitness-first-section,
    .fitness-second-section
    {
     
        flex-direction: column;
        

   }

 
   

   .right-reserved-section{

    flex-direction: column;
   }

 

}
   
    
    